<nav class="hover-cascade-nav">
  <ul>
    <li >
    <a href="{{ site.url }}/">HOME</a>
    </li>
    <li  class="parent-menu">
    <a href="https://sites.google.com/view/blueskyandoceans/gallery">Gallery</a>
    </li>
    <li class="parent-menu">
    <a href="{{ site.url }}/blog0">Blog</a>
    </li>
    <li class="parent-menu">
      <a href="javascript:void(0);" class="menu-trigger">Categories ▾</a>
      
      <ul class="dropdown-content">
        
       <li class="has-child">
          <a href="javascript:void(0);"> Overview </a>
        </li>
        <li class="has-child">
          <a href="javascript:void(0);"> Over the univers <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="{{ site.url }}/gallery/aircraft/">directry</a></li>
            <li><a href="{{ site.url }}/gallarey/">Startrek</a></li>
            <li><a href="{{ site.url }}/gallery/tanks/">StarWars</a></li>
            <li><a href="{{ site.url }}/gallery/scifi/">M13</a></li>
             <li><a href="{{ site.url }}/gallery/scifi/">M13</a></li>
            <li><a href="{{ site.url }}/gallery/scifi/">M13</a></li>
            <li><a href="{{ site.url }}/gallery/scifi/">M13</a></li>
         </ul>
        </li>

        <li class="has-child">
          <a href="javascript:void(0);"> around the Earth <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">directry</a></li>
            <li><a href="{{ site.url }}/blog/archive/">Sci-Fi & Fiction</a></li>
            <li><a href="{{ site.url }}/blog/archive/">REal & Theoretical</a></li>
            <li><a href="{{ site.url }}/blog/archive/">M22</a></li>
            <li><a href="{{ site.url }}/blog/archive/">M22</a></li>
         </ul>
        </li>
        <li class="has-child">
          <a href="javascript:void(0);"> In the sky <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">directry</a></li>
            <li><a href="{{ site.url }}/blog/archive/">USA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">GER</a></li>
            <li><a href="{{ site.url }}/blog/archive/">JPN</a></li>
            <li><a href="{{ site.url }}/blog/archive/">GBR</a></li>
            <li><a href="{{ site.url }}/blog/archive/">FRA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">ITA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">RUS</a></li>
            <li><a href="{{ site.url }}/blog/archive/">Etc</a></li>
              </ul>
        </li>
        <li class="has-child">
          <a href="javascript:void(0);"> on the ground <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">directry</a></li>
            <li><a href="{{ site.url }}/blog/archive/">USA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">GER</a></li>
            <li><a href="{{ site.url }}/blog/archive/">USA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">UK</a></li>
            <li><a href="{{ site.url }}/blog/archive/">FRA</a></li>
            <li><a href="{{ site.url }}/blog/archive/">RUS</a></li>
            <li><a href="{{ site.url }}/blog/archive/">M22</a></li>
          </ul>
        </li>
         <li class="has-child">
          <a href="javascript:void(0);"> on the water <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">directry</a></li>
            <li><a href="{{ site.url }}/blog/archive/">Military</a></li>
            <li><a href="{{ site.url }}/blog/archive/">M22</a></li>
          </ul>
        </li>
         <li class="has-child">
          <a href="javascript:void(0);"> under the water surface <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">directry</a></li>
            <li><a href="{{ site.url }}/blog/archive/">Research & Scientific</a></li>
            <li><a href="{{ site.url }}/blog/archive/">Military </a></li>
             </ul>
        </li>
      </ul>
    </li>  
    <li class="parent-menu">
    <a href="{{ site.url }}/blog0">head office</a>
    </li>
  
  </ul>
</nav>
