<li class="has-child">
          <a href="javascript:void(0);">on the water <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="{{ site.url }}/static/05_ship/">directry</a></li>
            
            <li class="has-child">
              <a href="javascript:void(0);">Military <span>▸</span></a>
              <ul class="sub-dropdown">
               <li><a href="{{ site.url }}/static/05_ship/">directory</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">JPN</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">USA</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">others</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">Aircraft Carriers</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">Big Seven</a></li>
               <li><a href="{{ site.url }}/static/05_ship/">Battleships</a></li>
              </ul>
            </li> <li><a href="{{ site.url }}/static/05_ship/">misc </a></li>
          </ul>
        </li>
