<nav class="hover-cascade-nav">
  <ul>
    <li>
    <a href="{{ site.url }}/">HOME</a>
    </li>
    <li>
    <a href="https://sites.google.com/view/blueskyandoceans/gallery">Gallery</a>
    </li>
    <li>
    <a href="{{ site.url }}/blog0">Blog</a>
    </li>
    <li class="parent-menu">
      <a href="javascript:void(0);" class="menu-trigger">Categories ▾</a>
      
      <ul class="dropdown-content">
        
        <li class="has-child">
          <a href="javascript:void(0);"> M11 <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="{{ site.url }}/gallery/aircraft/">M11</a></li>
            <li><a href="{{ site.url }}/gallery/tanks/">M12</a></li>
            <li><a href="{{ site.url }}/gallery/scifi/">M13</a></li>
          </ul>
        </li>

        <li class="has-child">
          <a href="javascript:void(0);"> M12 <span>▸</span></a>
          <ul class="sub-dropdown">
            <li><a href="https://bsojapan.github.io/blog0">M21</a></li>
            <li><a href="{{ site.url }}/blog/archive/">M22</a></li>
          </ul>
        </li>

        <li>
          <a href="{{ site.url }}/about/">M013</a>
        </li>

      </ul>
    </li>
  </ul>
</nav>
