<header>
 <a href="{{ site.url }}"> to {{ site.title  }} Top</a>
 
<p style="text-align: center;">
<div class="script-title" ><h1 class="script-title" >Blue Sky and Oceans</h1></div>
<div style="font-size:1.8em;"> Too private Japanese 1/144 scale model gallery </div>
</p>
 <p></p>
<p style="text-align: center;">
<a href="{{ site.url  }}">[HOME]</a> 
<a href="{{ site.url  }}">[Gallery]</a>
 <a href="https://bsojapan.github.io/blog0">[blog]</a> 
 <a href="{{ site.url  }}">[Categories]</a> 
<a href="{{ site.url  }}">[head office]</a> </p>
 
 
</header>

