<header class="header-style">
  <a href="{{ site.url }}"> to {{ site.title }} Top</a>

  <div style="text-align: center; margin: 20px 0;">
    <h1 class="script-title">Blue Sky and Oceans</h1>
    <div style="font-size: 1.8em;">Too private Japanese 1/144 scale model gallery</div>
  </div>

  <nav style="text-align: center; margin-top: 20px;">
    <a href="{{ site.url }}">[HOME]</a> 
    <a href="https://sites.google.com/view/blueskyandoceans/gallery?authuser=0" target=blank>[Gallery]</a>
    <a href="https://bsojapan.github.io/blog0">[blog]</a> 
    <a href="{{ site.url }}">[Categories]</a> 
    <a href="{{ site.url }}">[head office]</a>
  </nav>
  {% include cascademenue.htmll %}
</header>
