<header>
 <a href="{{ site.url }}"> to {{ site.title  }} Top</a>
 
<p >
<div ><h1 class="script-title" style="text-align: center;">Blue Sky and Oceans</h1></div>
<div style="font-size:1.8em;text-align: center;"> Too private Japanese 1/144 scale model gallery </div>
</p>
 <p></p>
<p style="text-align: center;">
<a href="{{ site.url  }}">[HOME]</a> 
<a href="https://sites.google.com/view/blueskyandoceans/gallery?authuser=0">[Gallery]</a>
 <a href="https://bsojapan.github.io/blog0">[blog]</a> 
 <a href="{{ site.url  }}">[Categories]</a> 
<a href="{{ site.url  }}">[head office]</a> </p>
 
 
</header>

