.header-style {
/*  background-image: url("{{ site.url }}/assets/images/p_wall_sky.jpg");*/
  background-image: url(/assets/images/p_wall_sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
