/* ダークモード */
body {
  background-color: #000f40 !important; /* 漆黒の背景 */
  color: #ffffff !important;            /* 目に優しい明度の文字 */
}

a {
  color: #ddddff !important;
  background-color: #101060 !important;
}
.hover {
  color: #ffdddd !important;
  background-color: #801010 !important;
}

p {
  matgine: 10px 15% 5px 20%;
}
