@charset "UTF-8";

/* Global Styles */
a {
  color: #ddddff !important;
  background-color: #101060 !important;
}

.hover {
  color: #ffdddd !important;
  background-color: #801010 !important;
}

/* Layout Structure */
body {
  background-color: #000f40 !important;
  color: #ffffff !important;
  font-family: "Times New Roman", Times, serif;
}

header { }
footer { }

main {
  margin: 2pt 5% 10pt 10%;
}

/* Section Elements */
section { margin: 1em 5% 0.3em 5%; }
article { margin: 1em 5% 0.3em 5%; }
aside { }
nav { margin: 1em 5% 0.3em 5%; }
div { }
blockquote { margin: 1em 5% 0.3em 10%; }

/* Text Headings (h1 - h6) */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0% 0.3em 0%;
}

/* Paragraphs */
p {
  margin: 0.5em 0% 0.2em 0em;
  text-indent: 1em;
  text-align: justify;
  word-break: normal;
  overflow-wrap: break-word;
}

.row {
  margin: 0.5em 0% 0.2em 0em;
  text-indent: 1em;
}
