---
---
/*.  */
/* 明朝体（高級感・和風・上品な印象） */
.site-title {
  font-family: "Great Vibes", "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  color: #ffffff !important; /* link a で上書きされてる */
}

/* 本文基本色 */
body {
  background-color: #000040 !important;
  color: #ffffff !important;
}

/* リンクの通常時の色 パステルブルー */
a {
  color: #f0f0ff !important; /* 青色 */
  /*text-decoration: underline; */ /* 下線を引く */
}
.hover {
  color: #ffdddd !important; /* オレンジや赤色など */
  text-decoration: none; /* 下線を消す（任意） */
}
