---
---

/* 1. まず、大元のテーマのデザインをマニュアル通りに吸い込みます */
@import "{{ site.theme }}";

/* 2. その上で、大潮流に負けない設定をここに追記します */
body {
  background-color: #202045 !important;
  color: #e5e5e5 !important;
}

.site-title {
  color: #eeeeff !important; /* 見やすい青などに */
}
